include LICENSE.md
include README.md
include LEGAL_NOTICE.md
include changelog.md
include CHANGELOG.md

recursive-include llm4free *

# Exclude common unwanted files and directories
recursive-exclude llm4free __pycache__
recursive-exclude llm4free *.pyc
recursive-exclude llm4free *.pyo
recursive-exclude llm4free *.pyd
